.headerContainer {
	border-bottom: none;
}
.contentContainer--content-quickview {
	padding: 0;
}

.paper--layout-quickview {
	max-width: 1200px;
}
.paper--newsletter-modal-home {
	max-width: 800px;
	max-height: 470px;
	background-color: #ffc148;
}
.headerContainer--newsletter-modal-home {
	position: absolute;
	right: 0;
	z-index: 5;
}
.contentContainer--content-modal-home {
	padding: 0;
}
@media (max-width: 600px) {
	.paper--newsletter-modal-home {
		height: 500px;
	}
}
.headerContainer {
	border: unset !important;
}

.closeIcon--newsletter-modal-home {
	background-color: black;
	color: #ffc148;
}
.closeButton--newsletter-modal-home {
	padding: unset;
}
.contentContainer--content__modal-content{
	padding: 0;
}

.triggerContainer--modal__container__clickme {
	width: 210px;
    position: fixed;
    bottom: 200px;
    z-index: 9;
    background: #000;
    transform: rotate(-90deg);
    left: -80px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
    transition: all .3s;
	border-radius: 5px;
	opacity: 1;
}

.paper--newsletter-modal-home {
	background-image: url(/arquivos/PopupRegistroColombia-19.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    background-position: 50%;
    background-color: transparent;
}

@media (max-width: 1000px){

.paper--newsletter-modal-home {
    background-image: url(/arquivos/PopupRegistroColombia-top-mobile-192.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    background-position: 50%;
    background-color: transparent;
}
}