.formSubmitContainer{
	width: 50%;
}
.newsletterForm--nenewsletterws-form{
	display: flex;
	gap: 30px;
    margin: 20px 0 0;
    justify-content: center;
    align-items: center;
}
.formSubmitContainer{
    width: 100%;
    border: 1px solid #fff;
    text-align: center;
    display: grid;
}
.emailInputContainer,
.nameInputContainer{
	width: 100%;
}

@media (max-width: 600px) {
    .newsletterForm--nenewsletterws-form {
        display: block;
        text-align: center;
    }
    .emailInputContainer,
    .nameInputContainer{
        width: 100%;
        margin-bottom: 10px;
    }
    .formSubmitContainer{
        display: inline-block;
        width: auto;
        padding:0 0;
        margin: 0 auto;
    }
}

/*-----new theme Bolivia---- */ 
.newsletterForm--nenewsletterws-form :global(.vtex-store-newsletter-1-x-emailInputContainer){
width: 178%;
}

.defaultSuccessMessage--nenewsletterws-form{
    color: #fff;
    font-weight: 900;
    font-size: 24px;
}

@media(max-width: 1000px) {
    
}
.newsletterForm--nenewsletterws-form{
display: flex;
    flex-direction: column;}